[submodule "src/can2040"]
	path = src/can2040
	url = https://github.com/KevinOConnor/can2040.git
[submodule "src/cbusdefs"]
	path = src/cbusdefs
	url = https://github.com/MERG-DEV/cbusdefs.git
[submodule "src/FatFsPicoSPI"]
	path = src/FatFsPicoSPI
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "src/inih"]
	path = src/inih
	url = https://github.com/benhoyt/inih.git
